In [430]:
import pandas as pd
import numpy as np
import seaborn as sns
%pylab inline

import sklearn as sk

Populating the interactive namespace from numpy and matplotlib

In [431]:
# Read data
df=pd.read_fwf('pendigits_training.txt')
#check number of rows and columns in dataset
df.shape

(7493, 17)

In [432]:
#rename columns.
df.columns=['feature_a','feature_b','feature_c','feature_d','feature_e','feature_f','feature_g','feature_h','feature_i','feature_j','feature_k','feature_l','feature_m','feature_n','feature_o','feature_p','class']
df.head()

,feature_a,feature_b,feature_c,feature_d,feature_e,feature_f,feature_g,feature_h,feature_i,feature_j,feature_k,feature_l,feature_m,feature_n,feature_o,feature_p,class
0,0,89,27,100,42,75,29,45,15,15,37,0,69,2,100,6,2
1,0,57,31,68,72,90,100,100,76,75,50,51,28,25,16,0,1
2,0,100,7,92,5,68,19,45,86,34,100,45,74,23,67,0,4
3,0,67,49,83,100,100,81,80,60,60,40,40,33,20,47,0,1
4,100,100,88,99,49,74,17,47,0,16,37,0,73,16,20,20,6

In [433]:
#Split up data into input and target('class').
x_train=df.drop(columns='class')
x_train.head()

,feature_a,feature_b,feature_c,feature_d,feature_e,feature_f,feature_g,feature_h,feature_i,feature_j,feature_k,feature_l,feature_m,feature_n,feature_o,feature_p
0,0,89,27,100,42,75,29,45,15,15,37,0,69,2,100,6
1,0,57,31,68,72,90,100,100,76,75,50,51,28,25,16,0
2,0,100,7,92,5,68,19,45,86,34,100,45,74,23,67,0
3,0,67,49,83,100,100,81,80,60,60,40,40,33,20,47,0
4,100,100,88,99,49,74,17,47,0,16,37,0,73,16,20,20

In [434]:
y_train=df['class'].values
y_train

array([2, 1, 4, ..., 5, 1, 7], dtype=int64)

In [435]:
#Name feature columns of training data as cols.
distance_cols=['feature_a','feature_b','feature_c','feature_d','feature_e','feature_f','feature_g','feature_h','feature_i','feature_j','feature_k','feature_l','feature_m','feature_n','feature_o','feature_p']
cols=df[distance_cols]
#Normalize training data.F(v) = (v - mean) / std using mean and std of each dimension.
x_train_norm=(cols - cols.mean()) / cols.std()
x_train_norm

,feature_a,feature_b,feature_c,feature_d,feature_e,feature_f,feature_g,feature_h,feature_i,feature_j,feature_k,feature_l,feature_m,feature_n,feature_o,feature_p
0,-1.121803,0.256561,-0.495379,0.871199,-0.254155,0.363507,-0.732553,0.012864,-1.251260,-0.678858,-0.657582,-1.301228,0.633155,-1.017267,1.280511,-0.629980
1,-1.121803,-1.642705,-0.343041,-0.758139,0.604719,0.911407,1.581605,1.806896,0.560112,1.540849,-0.307491,0.553523,-1.181387,-0.324912,-0.741905,-0.797557
2,-1.121803,0.909434,-1.257071,0.463864,-1.313432,0.107820,-1.058491,0.012864,0.857059,0.024050,1.039013,0.335317,0.854441,-0.385116,0.485991,-0.797557
3,-1.121803,-1.049184,0.342482,0.005613,1.406335,1.276674,0.962323,1.154521,0.084998,0.985923,-0.576792,0.153479,-0.960102,-0.475424,0.004463,-0.797557
4,1.879032,0.909434,1.827780,0.820282,-0.053751,0.326980,-1.123678,0.078101,-1.696680,-0.641863,-0.657582,-1.301228,0.810184,-0.595833,-0.645599,-0.238968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7488,-1.121803,-0.158903,-1.180901,-1.216390,0.146653,-1.134087,-0.341428,-1.454981,-1.399734,-0.123931,-1.573205,1.135406,-0.561787,1.812360,1.280511,1.995388
7489,0.348606,0.909434,-1.523663,-0.656306,-0.769479,-0.330500,1.581605,0.665239,0.857059,1.910801,-0.469072,1.499083,-1.491187,0.066420,-0.982668,-0.797557
7490,1.879032,0.790730,0.761412,0.871199,-0.769479,0.801827,-1.579991,0.436908,-0.657368,0.652967,-0.092050,-0.355668,-0.827330,-1.077472,-1.127127,-0.657909
7491,0.648690,-1.167888,1.942034,0.871199,0.948269,1.130567,0.668979,0.175958,-0.182254,-0.937824,-1.653995,-1.301228,-0.429016,-1.047370,1.280511,-0.797557
7492,-1.121803,-0.396311,-0.419210,0.871199,1.234560,0.765300,0.603792,0.110720,-0.449505,-0.826838,-0.792233,-1.301228,-1.314159,0.006215,1.280511,0.319621

In [436]:
#read test data.
df1=pd.read_fwf('pendigits_test.txt')
#rename test data columns.
df1.columns=['feature_a','feature_b','feature_c','feature_d','feature_e','feature_f','feature_g','feature_h','feature_i','feature_j','feature_k','feature_l','feature_m','feature_n','feature_o','feature_p','class']
df1.head()

,feature_a,feature_b,feature_c,feature_d,feature_e,feature_f,feature_g,feature_h,feature_i,feature_j,feature_k,feature_l,feature_m,feature_n,feature_o,feature_p,class
0,80,100,18,98,60,66,100,29,42,0,0,23,42,61,56,98,8
1,0,94,9,57,20,19,7,0,20,36,70,68,100,100,18,92,8
2,95,82,71,100,27,77,77,73,100,80,93,42,56,13,0,0,9
3,68,100,6,88,47,75,87,82,85,56,100,29,75,6,0,0,9
4,70,100,100,97,70,81,45,65,30,49,20,33,0,16,0,0,1

In [437]:
#Check number of rows and columns of test data.
df1.shape

(3497, 17)

In [438]:
#split input and target class for test data.
x_test=df1.drop(columns='class')
x_test.head()

,feature_a,feature_b,feature_c,feature_d,feature_e,feature_f,feature_g,feature_h,feature_i,feature_j,feature_k,feature_l,feature_m,feature_n,feature_o,feature_p
0,80,100,18,98,60,66,100,29,42,0,0,23,42,61,56,98
1,0,94,9,57,20,19,7,0,20,36,70,68,100,100,18,92
2,95,82,71,100,27,77,77,73,100,80,93,42,56,13,0,0
3,68,100,6,88,47,75,87,82,85,56,100,29,75,6,0,0
4,70,100,100,97,70,81,45,65,30,49,20,33,0,16,0,0

In [439]:
#Name feature columns of test data as cols1.
cols1=df1[distance_cols]
#Normalize test data. Apply mean of training data cols.mean() and std of training data cols.std() for each dimension.
x_test_norm=(cols1 - cols.mean()) / cols.std()
x_test_norm

,feature_a,feature_b,feature_c,feature_d,feature_e,feature_f,feature_g,feature_h,feature_i,feature_j,feature_k,feature_l,feature_m,feature_n,feature_o,feature_p
0,1.278865,0.909434,-0.838140,0.769365,0.261170,0.034767,1.581605,-0.509037,-0.449505,-1.233784,-1.653995,-0.464771,-0.561787,0.758775,0.221150,1.939530
1,-1.121803,0.553322,-1.180901,-1.318224,-0.883995,-1.681987,-1.449616,-1.454981,-1.102787,0.098040,0.231111,1.171774,2.005126,1.932769,-0.693752,1.771953
2,1.728990,-0.158903,1.180342,0.871199,-0.683592,0.436560,0.831948,0.926189,1.272783,1.725825,0.850503,0.226214,0.057812,-0.686141,-1.127127,-0.797557
3,0.918765,0.909434,-1.295155,0.260197,-0.111009,0.363507,1.157886,1.219758,0.827364,0.837942,1.039013,-0.246565,0.898698,-0.896858,-1.127127,-0.797557
4,0.978781,0.909434,2.284795,0.718448,0.547461,0.582667,-0.211053,0.665239,-0.805841,0.578976,-1.115394,-0.101095,-2.420587,-0.595833,-1.127127,-0.797557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3492,-0.041502,0.909434,-0.609633,-0.656306,-1.456578,-0.987980,-0.080678,-0.378561,1.124310,0.504986,0.688922,0.698994,1.828098,-0.445321,1.280511,-0.797557
3493,-0.641669,-0.574368,0.037805,0.871199,0.032137,-0.038286,-0.634772,-0.574274,-1.696680,-1.233784,-1.088464,-0.973919,0.323355,-1.017267,1.280511,-0.406544
3494,0.558665,0.909434,-0.495379,-0.198054,-1.456578,-0.951453,-1.286647,-1.454981,0.263166,-0.678858,1.039013,0.553523,1.695326,1.722053,-0.212224,1.799882
3495,-0.551644,0.909434,-1.523663,-1.114557,-1.370691,-1.535880,-0.113271,-1.454981,1.183699,-0.234916,1.039013,1.099038,0.323355,1.842462,-0.886363,1.464729
3496,0.018514,0.909434,-0.114533,-0.096221,-1.113029,-0.367027,-1.677772,-0.541655,-0.152559,-0.234916,1.039013,0.226214,1.385526,-0.294809,0.437838,-0.797557

In [440]:
x_test.shape

(3497, 16)

In [441]:
y_test=df1['class'].values
y_test

array([8, 8, 9, ..., 0, 0, 4], dtype=int64)

In [442]:
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier

In [443]:
#Use KNN. Find optimal K.
#Trying possible Ks from 1 to 20.
possibleKs = list(range(1,20))
#Create a list to hold accuracy scores for all Ks.
accuracy_scores = [ ]

#Train and test knn model for all possible Ks, and append each accuracy score to accuracy_score list.
for K in possibleKs:
    knn = KNeighborsClassifier(n_neighbors = K)
    knn.fit(x_train_norm,y_train)
    y_pred=knn.predict(x_test_norm)
    scores = metrics.accuracy_score(y_test, y_pred)
    accuracy_scores.append(scores.mean())
    
#Determine optimal K: The K that miximizes the accuracy score of knn model.
optimal_k = neighbors[accuracy_scores.index(max(accuracy_scores))]
print('Optimal k is',optimal_k,'accuracy is',max(accuracy_scores))

Optimal k is 4 accuracy is 0.976551329711181